*{
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 960px;
    margin: 0 auto;
}

.banner-bg {
    height: 855px;
    background: url("https://images.unsplash.com/photo-1684394944541-c57e2df37ebb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2232&q=80") no-repeat;
    background-size: cover;
    overflow: hidden; 
    /* no space between navbar&img */
    position: relative;
}
.dropbright {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3)/* drop light of img = more black tone*/
}
.banner-con {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
}

.banner-text {
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 10;
}

p{
    font-weight: 100;
    font-size: large;
}
.banner-btn {
    background: #fff;
    display: inline-block; /* for can using paddinf */
    padding: .5rem 1rem;
    text-decoration: none;
    color: #333;
    border: 2px solid transparent;
    transition: 0.3s;
    margin-top: 1rem;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: medium;
}

.banner-btn:hover {
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
}

@media screen and (max-width: 480px) {
    .banner-text {
       font-size: xx-small;
       padding: 0 2rem; 
    }
    .banner-bg {
        height: 700px;
    }
}